*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
.container-nav{
 display:flex;
 justify-content:space-around;
 align-items:center;
 padding:10px;
 position:relative;
 top:-40px;
}
.container-nav img{
 width:15%;
}
.container-nav ul li{
 list-style-type:none;
 text-decoration:none;
 text-align:center;
}
.navplus ul li{
 display:inline-flex;
 justify-content:center;
 align-items:center;
 padding-left:50px;
 
 
}
.navplus ul li a{
  text-decoration:none;
 color:#f39c12;
}
.navplus ul li a:hover{
 color:#cd6133;
}
.navbar{
	background: #f39c12;
	text-align: center;
     width:30%;
 position:relative;
 right:-30px;
 border-radius:10px;

}
.navbar ul{
	display: inline-flex;
	list-style: none;
	color: #fff;

}
.navbar ul li{
	width: 110px;
	padding: 6px;
	transition: 0.4s;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	transition: 0.10s;
}

.navbar ul li i{
 transition:0.7s;
}
.navbar ul li i:hover{
 transform: rotate(360deg);
}
.navbar a:hover{
 color:#cd6133;
}

.container-nav .sous-menu-1{
	display: none;
 border-radius:10px;
 font-size:13px;
 width:10%;
 color:#fff;


}
.container-nav .sous-menu-1 ul li a{
 color:#f39c12;
}

 .container-nav ul li:hover .sous-menu-1 {
 	display: block;
    position: absolute;
	background: #0000007d;
	margin-top:240px;
   
	}
.container-nav ul li:hover .sous-menu-1 ul{
	display: block;
}
.container-nav ul li:hover .sous-menu-1 ul li{
	width: 120px;
	padding: 10px;
	border-bottom: 1px solid; #fff;
	background: transparent;
	border-radius:0;
	text-align:center;

}
.container-nav ul li:hover .sous-menu-1 ul li:last-child{
	border-bottom: none;
}
.container-nav ul li:hover .sous-menu-1 ul li a:hover{
	color: #cd6133;
}